**/data/
**/*.log
**/*.png
**/*.pstats
**/*.ipynb
**/bittensor.egg-info/*
**/lib/*
**/build/*
**/dist/*
**/runs/*
**/env/*
**/venv/*
**/tmp/*
**/test_results/*
**/__pycache__/*
**/.circleci
**/.git
**/.github
**/.hypothesis
**/.vscode
**/.gitignore
