[submodule "neurons"]
	path = neurons
	url = https://github.com/opentensor/neurons.git
[submodule "bittensor/neurons"]
	path = bittensor/neurons
	url = https://github.com/opentensor/neurons
[submodule "bittensor/bittensor/_neurons"]
	path = bittensor/bittensor/_neurons
	url = https://github.com/opentensor/neurons
[submodule "bittensor/_neurons"]
	path = bittensor/_neurons
	url = https://github.com/opentensor/neurons
