argparse
base58>=2.0.1
backoff>=2.1.0
certifi>=2020.11.8
cryptography>=3.1.1
idna>=2.10
jinja2>=3.0
fuzzywuzzy==0.18.0
google-api-python-client>=2.6.0
python-levenshtein==0.12.1
grpcio==1.42.0
grpcio-tools==1.42.0
hypothesis>=6.47.4
loguru
msgpack==1.0.4
msgpack-numpy==0.4.7.1
miniupnpc
munch
nest_asyncio
netaddr==0.8.0
pandas
psutil
password_strength==0.0.3.post2
protobuf==3.15.0
prometheus_client==0.14.1
pycryptodome==3.11.0
py-sr25519-bindings>=0.1.4,<1
py-ed25519-bindings>=1.0,<2
py-bip39-bindings>=0.1.9,<1
pytest>=6.2.4
pytest-split
pytest-xdist
pytest-rerunfailures
coveralls
pytest-cov
pyyaml
rich>=12.5.1
retry
requests>=2.25.0
scalecodec>=1.0.35
sentencepiece
termcolor
torch>=1.11
transformers>=4.20.1
numpy
wheel
codecov
tqdm
qqdm
wandb>=0.11.1,<0.13.4
ansible_vault>=2.1
substrate-interface==1.2.4
markupsafe==2.0.1
