argparse
base58>=2.0.1
certifi>=2020.11.8
cryptography==3.1.1
datasets
cython
docker==4.3.1
idna>=2.10
google-api-python-client
grpcio==1.32.0
grpcio-tools==1.32.0
loguru
msgpack==1.0.2
msgpack-numpy==0.4.7.1
miniupnpc
munch
netaddr==0.8.0
password_strength==0.0.3.post2
pickle-mixin==1.0.2
prettytable
protobuf==3.13.0
pycryptodome==3.9.8
pycrypto==2.6.1
py-sr25519-bindings==0.1.2
py-ed25519-bindings~=0.1.2
py-bip39-bindings>=0.1.6
pytest>=6.1.2
pytest-xdist==2.2.0
pytorch_transformers
pyyaml
rich
rollbar
requests>=2.25.0
scalecodec~=0.11.16
termcolor
tensorboard
torch>=1.6.0
torchvision
transformers>=4.5.0
validators
xxhash>=2.0.0
pandas
numpy
wheel
codecov
tqdm
qqdm
wandb>=0.11.1
substrate-interface>=0.13.11
