version: 2.1

executors:
    bittensor-executor:
        docker:
          - image: bittensor/bittensor:latest

orbs:
  python: circleci/python@1.3.2
  shellcheck: circleci/shellcheck@2.0.0

jobs:
  "Build Bittensor":
    executor: bittensor-executor
    steps:
      - checkout
      - python/load-cache
      - python/save-cache
      - run:
          command: pip3 install -e .
          name: setup
      - run: ./scripts/create_wallet.sh
      - run: pip3 install miniupnpc

  "Run Unit Tests":
    executor: bittensor-executor
    steps:
      - checkout
      - python/load-cache
      - run: pip3 install -r requirements.txt
      - run: ./scripts/build_protos.sh
      - run:
          command: pip3 install -e .
          name: setup
      - run: pip3 install pyyaml
      - run: pip3 install miniupnpc
      - run: pip3 install msgpack
      - run: pip3 install msgpack-numpy
      - run: pip3 install pytorch_transformers
      - run: ./scripts/create_wallet.sh
      - run:
          name: "Run unit tests"
          command: pytest ./tests/unit_tests

  "Run Examples":
    executor: bittensor-executor
    steps:
      - checkout
      - python/load-cache
      - run: pip3 install -r requirements.txt
      - run: ./scripts/build_protos.sh
      - run:
          command: pip3 install -e .
          name: setup
      - run: pip3 install pyyaml
      - run: pip3 install miniupnpc
      - run: pip3 install msgpack
      - run: pip3 install msgpack-numpy
      - run: pip3 install pytorch_transformers
      - run: ./scripts/create_wallet.sh
      - run: python3.7 tests/examples/text/test_gpt2_wiki.py
      - run: python3.7 tests/examples/text/test_gpt2_genesis.py
      - run: python3.7 tests/examples/text/test_bert_mlm.py
      - run: python3.7 tests/examples/text/test_bert_nsp.py
      - run: python3.7 tests/examples/image/test_mnist.py
  
  MNIST:
    executor: bittensor-executor
    steps:
      - checkout
      - python/load-cache
      - run: pip3 install -r requirements.txt
      - run: pip3 install pyyaml
      - run: pip3 install miniupnpc
      - run: pip3 install msgpack
      - run: pip3 install msgpack-numpy
      - run: pip3 install pytorch_transformers
      - run: ./scripts/create_wallet.sh
      - run: ./scripts/build_protos.sh
      - run:
          name: setup
          command: pip3 install -e .
      - run:
          name: Unset HTTP Proxy
          command: unset https_proxy;unset http_proxy
      - run:
          name: Run MNIST node
          command: python3 tests/integration_tests/cpu_tests/bittensor/test_mnist_node.py --dendrite.timeout=0.5 --metagraph.chain_endpoint feynman.akira.bittensor.com:9944

  "Run Integration Tests":
    executor: bittensor-executor
    steps:
      - checkout
      - python/load-cache
      - run: pip3 install -r requirements.txt
      - run: ./scripts/build_protos.sh
      - run: pip3 install pyyaml
      - run: pip3 install miniupnpc
      - run: pip3 install msgpack
      - run: pip3 install msgpack-numpy
      - run: pip3 install pytorch_transformers
      - run: ./scripts/create_wallet.sh
      - run:
          command: pip3 install -e .
          name: setup
      - run:
          name: "Run Localized CPU Integration tests"
          command: pytest ./tests/integration_tests/cpu_tests -k 'not MnistNode'
      - run:
          name: "Code Coverage"
          command: codecov

  "Push Production candidate to DockerHub":
    docker:
      - image: circleci/python:3.8.1
        auth: 
           username: $DOCKER_USER
           password: $DOCKERPASS
    steps:
      - checkout
      - python/load-cache
      - setup_remote_docker:
             version: 19.03.13
      - run:
          name: "Docker credentials"
          command: echo $DOCKERPASS | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: "Push production candidate"
          command: ./scripts/push_image.sh
 
workflows:
  main:
    jobs:
      - "Build Bittensor"
      - "Run Unit Tests":
              requires:
                - "Build Bittensor"
      - "Run Examples":
              requires:
                - "Build Bittensor"
      - "Run Integration Tests":
              requires:
                - "Build Bittensor"
