name: Requirements compatibility for supported Python versions
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "pyproject.toml"

jobs:
  read-python-versions:
    runs-on: ubuntu-latest
    outputs:
      python-versions: ${{ steps.read-versions.outputs.versions }}
    steps:
      - uses: actions/checkout@v4
      - id: read-versions
        run: |
          versions=$(cat .github/supported-python-versions.json)
          echo "versions=$versions" >> $GITHUB_OUTPUT

  compatibility:
    needs: read-python-versions
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ${{ fromJson(needs.read-python-versions.outputs.python-versions) }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: |
          python -m pip install --upgrade pip
          python -m pip install ".[dev,cli]" --dry-run --no-deps
