# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Pushing Image to Docker

on: 
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov

        pip install -r requirements.txt --use-deprecated=legacy-resolver
    - name: Build Bittensor
      run: |
        python -m pip install -e .
        ./scripts/create_wallet.sh
        ./scripts/build_protos.sh
    - name: Run Unit Tests
      run: pytest ./tests/unit_tests --cov=. --cov-append --cov-config .coveragerc        
    - name: Run Integration Tests
      run: pytest ./tests/integration_tests --cov=. --cov-append --cov-config .coveragerc        
    - name: Run Miners
      run: python tests/miners/text/test_gpt2_exodus.py --cov=. --cov-append --cov-config .coveragerc        
    - name: Run dataset tests
      run: pytest ./tests/integration_tests/test_dataset_ipfs.py --cov=. --cov-append --cov-config .coveragerc        
    - name: Code Coverage
      run: codecov
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{secrets.DOCKER_USER}}
        password: ${{secrets.DOCKER_PASS}}
    - name: Build and Push to Docker
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: bittensor/bittensor:latest
