name: Unit tests checker
permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  unit-tests:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Cache venv
        id: cache
        uses: actions/cache@v4
        with:
          path: venv
          key: v2-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}

      - name: Install deps
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install uv
          python -m uv sync --extra dev --active

      - name: Unit tests
        timeout-minutes: 20
        env:
          PYTHONUNBUFFERED: "1"
        run: |
          source venv/bin/activate
          python -m uv run pytest -n 2 tests/unit_tests/ --reruns 3

      - name: Integration tests
        timeout-minutes: 20
        env:
          PYTHONUNBUFFERED: "1"
        run: |
          source venv/bin/activate
          python -m uv run pytest -n 2 tests/integration_tests/ --reruns 3
